<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!---Fuentes de google-->
    <link rel="stylesheet" href="css/loginStyles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <div class="login_container">
        <div>
          <img src="images/logo_adobespark.png" alt="logo" />
        </div>
        <form action="/login" method="POST">
          <h1 class="welcome_text">!HOLA!</h1>
          <div>
            <input
              type="text"
              class="login_input"
              placeholder="Identificacion"
              name="identificacion"
              required
            />
            <input
              type="password"
              class="login_input"
              placeholder="contrase単a"
              name="password"
              required
            />
          </div>
          <p class="terms">
            *Al iniciar sesion acepta las politicas de privacidad, terminos y
            condiciones de combeneficios
          </p>

          <input type="submit" class="btn" value="INGRESAR" />
        </form>
        <p class="forgot_pass">
          <a class="" href="#">多No recuerdas la contrase単a?</a>
        </p>

        <p class="register">
          多No te has registrado? <a href="/register">Unete ahora</a>
        </p>
      </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
